<div class="login-box">
  <% if flash[:notice] %>
    <div class="notice">
      <%= flash[:notice] %>
    </div>
  <% end %>

  <%= render partial: 'form' %>

  <p>You can also log in with Twitter or Google.</p>

  <%= link_to t('buttons.login.twitter'), '/auth/twitter', class:'button u-full-width' %>
  <%= link_to t('buttons.login.google'), '/auth/google', class:'button u-full-width' %>
</div>
