<div class="registration-box">
  <%= render partial: 'form' %>

  <p>You can also create a calendar by logging in with Twitter or Google.</p>
  <%= link_to 'Log in with Twitter', '/auth/twitter', class:'button u-full-width' %>
  <%= link_to 'Log in with Google', '/auth/google', class:'button u-full-width' %>
</div>
