<div class="row">
  <div class="one-half column">
    <h3>Stop missing payments</h3>

    <p>According to the 2015 Consumer Financial Literacy Survey of Adults about
    25% of U.S. adults do not pay bills on time.</p>

    <p>You can also create a calendar by signing in with Twitter or Google.</p>
    <%= link_to 'Sign in with Twitter', '/auth/twitter', class:'button u-full-width' %>
    <%= link_to 'Sign in with Google', '/auth/google', class:'button u-full-width' %>
  </div>

  <div class="one-half column">
    <%= render partial: 'registrations/form' %>
  </div>
</div>
