<div class="row">
  <div class="one-half column">
    <h3>Stop missing payments</h3>

    <p>According to the 2015 Consumer Financial Literacy Survey of Adults about
    25% of U.S. adults do not pay bills on time.</p>

    <%= link_to 'Sign in with Twitter', '/auth/twitter', class:'xbutton' %>
    <%= link_to 'Sign in with Facebook', '/auth/twitter', class:'xbutton' %>
  </div>

  <div class="one-half column">
    <%= render partial: 'registrations/form' %>
  </div>
</div>
