<div class="row">
  <div class="one-half column">
    <h3 class="xtext-centered">Stop missing payments</h3>
    <p>According to the 2015 Consumer Financial Literacy Survey of Adults about
    25% of U.S. adults do not pay bills on time.</p>
  </div>

  <div class="one-half column">
    <%= render partial: 'registrations/form' %>
  </div>
</div>
