<%= link_to 'Add a new bill', new_bill_url, class: "button button-primary" %>

<table class="u-full-width">
  <thead>
    <tr>
      <th>Due on</th>
      <th>Bill</th>
    </tr>
  </thead>
  <tbody>
    <% @bills.each do |bill| %>
      <tr>
        <td><%= bill.due_day %></td>
        <td><%= link_to bill.name, edit_bill_url(bill) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<strong>Subscribe to your bills in Google calendar, iCal, etc.</strong>
<%= text_field_tag('icalendar_url', calendar_url(token: current_user.calendar_token, format: 'ics'), readonly: true, class: "u-full-width" ) %>
