/*
 *= require_tree .
 *= require_self
 */

body {
  color:#444;
}

div.container {
}

div.header {
  padding-top: 1rem;
  margin-bottom: 3rem;
}

div.registration-box, div.login-box {
  max-width: 400px;
  margin:0 auto;
}

.field_with_errors input {
  border: 1px solid #C34949;
  margin-bottom: 0;
}

div.validation-hint {
  color: #C34949;
  padding: 6px 0 0 0;
  margin-bottom: 1.0rem;
}

div.notice {
  padding: 1.0rem 0;
  margin-bottom: 1.0rem;
  color: #C34949;
}

table.due_day {
  margin-bottom: 1.0rem;
}
table.due_day td {
  padding: 15px 0;
  text-align: center;
}
table.due_day td.selected {
  background: #33C3F0;
  color: #fff;
}
table.due_day td.selected a {
  color: #fff;
}

tr.today {
  background: #33C3F0;
  color: #fff;
}

.text-centered {
  text-align: center;
}
